<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='./vue.js'></script>
</head>
<body>
    <div id="app">
        <input v-model="inputValue" type="text"/>
        <button @click="handleBtnClick">submit</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
    <script>
            // 新建一个Vue实例
            var app = new Vue({
                // 挂载点
                el: "#app",
                data: {
                    // inputValue 绑定 -v-model="inputValue"
                    inputValue:"",    
                    list: []
                },
                methods:{
                    handleBtnClick: function(){
                        this.list.push(this.inputValue)
                        this.inputValue = ''
                    }
                }

            })
    </script>
</body>
</html>